.loading {
  margin: auto;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__circle {
    display: inline-block;
    width: 80px;
    height: 80px;

    &:after {
      content: " ";
      display: block;
      width: 64px;
      height: 64px;
      margin: 8px;
      border-radius: 50%;
      border: 6px solid $primary-color;
      border-color: $primary-color transparent $primary-color transparent;
      animation: anim 1.2s linear infinite;
    }
  }
}


@keyframes anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
