//--------------------------------------------
//--This File Contains All Variables
//---------------------------------------------

// Font family
$font: 'arial', Montserrat;

//sizes
$radius: 20px;
$btnRadius: 10px;

//colors
$primary-color: #0074cb;
$secondary-color: #D9EEFF;
$secondary-color-hover: #bdddff;
$primary-light-color: #8287BA;
$green-color: #4CBE24;
$red-color: #EC0C41;
$yellow-color: #e7af16;
$text-color: rgba(0, 36, 64, 0.8);
$text-light-color: #7C8397;
$text-lighter-color: #a4a9b6;
$text-primary-light-color: #8287BA;
$text-primary-lighter-color: #A2A6CC;
$bg-glass: rgba(255, 255, 255, 0.70);
$border-color: rgba(130, 135, 186, 0.1);
